@model IEnumerable<Client>

@{
    ViewData["Title"] = "RenewalList";
}

<h1>Clients with 1 or more items past their renewal date:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClientCode)
            </th>
            <th>
                Number Overdue
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientCode)
            </td>
            <td>
                @(item.ArchiveItems != null ? item.ArchiveItems.Count() : 0)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Notify" asp-route-id="@item.Id">Notify</a>
            </td>
        </tr>
}
    </tbody>
</table>
